.car-item {
  border: 2px solid #333;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  text-align: center;
}

.car-img {
  display: block;
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 0 auto 10px;
  border-radius: 6px;
}

.even {
  background-color: #ffe4e1;
}

.odd {
  background-color: #e0ffff;
}
