<div class="car-item" [ngClass]="{ even: isEven, odd: !isEven }">
  <img
    *ngIf="car?.image"
    ngSrc="{{ car!.image }}"
    width="300"
    height="200"
    priority
    alt="{{ car!.make }} {{ car!.model }}"
    class="car-img"
  >
  <h2>{{ car! | carTitle }}</h2>
  <p>Horsepower: {{ car?.horsepower | number }}</p>
    <p>Top Speed: {{ car?.topSpeed | number:'1.0-0' }} mph</p>

    <p>Added to Garage: {{ car?.addedDate | date:'fullDate' }}</p>

    <p>Estimated Value: {{ car?.price | currency:'USD' }}</p>

    <p *ngIf="car?.isClassic">Type: {{ 'classic muscle car' | uppercase }}</p>
  </div>

