<mat-card class="featured-card">

  <mat-card-header>
    <mat-card-title>{{ car?.make }} {{ car?.model }}</mat-card-title>
    <mat-card-subtitle *ngIf="car?.isClassic">
      CLASSIC MUSCLE CAR
    </mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image [src]="car?.image" alt="{{ car?.make }} {{ car?.model }}">

  <mat-card-content>
    <p><strong>Horsepower:</strong> {{ car?.horsepower }}</p>
    <p><strong>Top Speed:</strong> {{ car?.topSpeed }} mph</p>
    <p><strong>Added:</strong> {{ car?.addedDate | date }}</p>
    <p><strong>Value:</strong> {{ car?.price | currency:'USD' }}</p>
  </mat-card-content>

</mat-card>
