<div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

<div class="car-list">
  <mat-card
    class="car-card"
    *ngFor="let car of cars; let i = index"
    appearance="outlined">

    <app-car-list-item [car]="car"></app-car-list-item>

    <mat-card-actions>
      <button mat-raised-button color="primary" hoverHighlight (click)="onEdit(car.id)">
        <mat-icon>edit</mat-icon>
        Edit
      </button>

      <button mat-raised-button color="warn" hoverHighlight (click)="onDelete(car.id)">
        <mat-icon>delete</mat-icon>
        Delete
      </button>
    </mat-card-actions>

  </mat-card>
</div>
